db.sqlite3
*.pyc
__pycache__/
.env
*.log
*.bak
node_modules/
dist/
build/
.DS_Store
.idea/
.vscode/
*.swp
*.tmp
*.lock
coverage/
*.egg-info/
*.out
*.class
*.iml
*.project
*.sublime-workspace
*.sublime-project